.dark-theme {
  width: 180px;
}

.body-dark-theme {
  background-color: #212121;
}

.app_dark-theme {
  background-color: #494646;
}

.textarea_dark-theme {
  background-color: #494646;
  color: rgba(255, 255, 255, 0.88);
  border-color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.keyboard_dark-theme {
  background-color: #5e5d5d;
}

.key_dark-theme {
  background-color: #5e5d5d;

  &:hover {
    background-color: #727171;
  }
}

.key.backspace.key_dark-theme,
.key.up.key_dark-theme,
.key.down.key_dark-theme,
.key.left.key_dark-theme,
.key.right.key_dark-theme,
.key.tab.key_dark-theme,
.key.delete.key_dark-theme,
.key.enter.key_dark-theme,
.key.shift.key_dark-theme {
  background-color: #5e5d5d;

  &:hover {
    background-color: #727171;
  }

  img {
    opacity: 0.5;
  }
}

.side-key_dark-theme {
  opacity: 0.8;
}