.info {
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.info img {
    width: auto;
    height: 30px;
    cursor: pointer;
}

.info-modal {
    position: absolute;
    padding: 10px 15px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    background-color: whitesmoke;
    top: calc(50vh - 134px);
    left: calc(50vw - 300px);
    z-index: 20;
    animation: fade 0.35s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.close {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 580px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
}

.close img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.info-modal p {
    font-size: 1.6rem;
    padding-bottom: 10px;
    line-height: 140%;
}

.contact,
.discord span,
.telegram span,
.mail span {
    font-size: 1.6rem;
    line-height: 140%;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.discord,
.telegram,
.mail {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.discord img,
.telegram img,
.mail img {
    height: 100%;
    width: auto;
    padding: 0 10px;
}

.modal-background {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #292929;
    opacity: 0.6;
    animation: fadebg 0.35s ease-in;

    &:hover {
        cursor: pointer;
    }
}

@keyframes fadebg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

.disabled-modal {
    display: none;
}

@media screen and (max-width: 767px) {
    .sound {
        width: 40px;
        height: 20px;
    }
    
    .sound img {
        height: 20px;
    }
    
    .microphone {
        width: 40px;
        height: 20px;
    }
    
    .microphone img {
        height: 20px;
    }

    .info-modal {
        width: 400px;
        height: auto;
        top: calc(50vh - 134px);
        left: calc(50vw - 200px);
    }

    .info-modal p {
        font-size: 1.4rem;
    }

    .contact,
    .discord span,
    .telegram span,
    .mail span {
        font-size: 1.4rem;
    }

    .discord img,
    .telegram img,
    .mail img {
        padding: 0 5px;
    }

    .close {
        left: 390px;
        top: 25px;
    }
    
    .dark-theme {
        width: 170px;
    }

    .info {
        padding-right: 20px;
    }

    .info img {
        height: 20px;
    }
}