.switch {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.switch input {
  display: none;
}

.switch__text {
  font-size: 2.4rem;
}

.slider {
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  top: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: grey;
}

input:focus+.slider {
  box-shadow: 0 0 1px grey;
}

input:checked+.slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  width: 60px;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}