.textarea {
  width: calc(100% - 22px);
  height: 250px;
  font-size: 2rem;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  resize: none;
}

@media screen and (max-height: 700px) {
  .textarea {
    height: 100px;
  }
}

@media screen and (max-height: 600px) {
  .textarea {
    height: 50px;
  }
}