$key: #d4d7db;
$key-hover: #f3f3f3;

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfd;
  transition: 0.5s;
}

@import './app';
@import './textarea';
@import './control-panel';
@import './keyboard';
@import './switch';
@import './dark-theme';